@using Askanser.Web.ViewModels
@model Askanser.Web.ViewModels.AskViewModel

@{
    ViewBag.Title = "Ask";
}

<div class="container">

    <section>
        <div class="h2">Ask something:</div>
        @using (Html.BeginForm("Ask", "Askanser", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control row" })
                @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ask" class="btn btn-default" />
            </div>
        </div>
}
    </section>
</div>
